* {
  font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
  box-sizing: border-box;
}

Header{
  text-align: center;
  background-color:lightslategray;
  font-weight: 1000;
}

body{
  text-align:center;
  background-color:lightgray ;
  margin: 5;
}

h1{
  font-weight: 700;
  color:aliceblue
}
h2{
  padding:1%;
  padding-left: 50px;
  background-color:aliceblue;
}
img {
  display:ruby;
	border: 0;
	width: 25%;
	height: auto;
}
section{
  background-color: lightgrey;
}

button{
  color:lightgrey;
  background-color: lightslategray;
}