body{
  background-color:#554d43;
}

.topic{
    font-size: 40px;
    font-weight:bolder;
    color:rgb(255, 255, 255);
    letter-spacing:3px;
}


.icon-bar a {
  float: right; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 24px; /* Increased font size */
}



  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.shopnow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
  

.shopbtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#85796b;
  color: white;
  font-size: 40px;
  padding: 24px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;


}

div.cupcake {
  width: 100%;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  
}

img.sherry {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.strawberry {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}




body {margin:25px;}


h.cupcaketopic{
  font-size: 40px;
  font-weight:bolder;
  color:rgb(255, 255, 255);
}

button.cupcakeshopnow{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

div.shopnow{
  font-size: 40px;
  color:#f2f2f2;
}


*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
  /*最底下的灰色div*/
.alertBelowDiv{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.8);

  /*将内容居中*/
  align-items: center;
  display: -webkit-flex;
  justify-content: center;
}
/*白色确定框*/
.alertContentDiv{
  width: 25%;
  height: 30%;
  background-color: white;
  border-radius: 5%;
}
/*展示文字部分*/
.alertTextDiv{

  width: 100%;
  height: 10%;
  margin: 15% auto;
  text-align: center;
  font-size: x-large;
  font-weight: 600;

}
/*取消按钮*/
.alertCancelDiv{
  float: left;
  width: 18%;
  height: 15%;
  background-color: lightslategrey;
  border-radius: 15%;
  font-weight: 600;
  color: #fff;
  align-items: center;
  display: -webkit-flex;
  justify-content: center;
  margin-left: 15%;

}

/*确定按钮*/
.alertSubmitDiv{
  float: right;
  width: 18%;
  height: 15%;
  background-color: lightslategrey;
  border-radius: 15%;
  font-weight: 600;
  color: #fff;
  align-items: center;
  display: -webkit-flex;
  justify-content: center;
  margin-right: 15%;
}
